#verification .main .content {
  background: none;
  box-shadow: none;
  border-radius: 0;
  max-width: 640px;
}

#verification .title {
  font-size: 24px;
  text-align: center;
}

.verification-subtitle {
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.verification-btn {
  text-align: center;
}

.verification-btn #copyBtn {
  color: #fff;
  background-color: #ff8726;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  display: none;
}

.verification-pic {
  display: none;
}

.verification-text {
  margin-top: 20px;
}

.verification-text p + p {
  margin-top: 10px;
}

.slogans {
  display: none;
}

.verification-device {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
}

.verification-device #device-code,
.verification-device #pro-device-code {
  margin: 5px 0;
  display: block;
  color: #f00;
}

@media screen and (max-width: 750px) {
  .verification-device {
    font-size: 18rem;
    margin-top: 20rem;
  }

  #verification .title {
    font-size: 24rem;
  }

  .verification-subtitle {
    font-size: 15rem;
    margin-top: 10rem;
  }

  .verification-btn #copyBtn {
    color: #fff;
    padding: 5rem 10rem;
    background-color: #ff8726;
    display: none;
    border-radius: 5rem;
    cursor: pointer;
    margin-top: 10rem;
  }

  .verification-text {
    padding: 0 20rem;
    margin-top: 20rem;
  }

  .verification-text p + p {
    margin-top: 10rem;
  }

  .verification-pic {
    display: block;
  }

  .verification-pic .pic-title {
    width: 240rem;
    margin: 50rem auto 0;
  }

  .slogans {
    display: flex;
  }
}
